{% set title = "Список страниц" %}
{% set hideTitle = false %}

{% extends "njk-layouts/_main.njk" %}

{% block content %}

    <div class="container">
        <ul class="list-disc">
            <li>
                <a href="ui.html">Ui-kit</a>
            </li>
        </ul>
    </div>

{% endblock %}