{% set title = "Ui-kit" %}
{% set hideTitle = true %}

{% extends "njk-layouts/_main.njk" %}

{% block content %}

    <div class="container">
        <div class="">
            {% set bgColorGroups = {
                primary: [
                    "bg-primary-50", "bg-primary-100", "bg-primary-200", "bg-primary-300", "bg-primary-400", "bg-primary-500", "bg-primary-600", "bg-primary-700", "bg-primary-800", "bg-primary-900", "bg-primary-950"
                ],
                secondary: [
                    "bg-secondary-50", "bg-secondary-100", "bg-secondary-200", "bg-secondary-300", "bg-secondary-400", "bg-secondary-500", "bg-secondary-600", "bg-secondary-700", "bg-secondary-800", "bg-secondary-900", "bg-secondary-950"
                ],
                tertiary: [
                    "bg-tertiary-50", "bg-tertiary-100", "bg-tertiary-200", "bg-tertiary-300", "bg-tertiary-400", "bg-tertiary-500", "bg-tertiary-600", "bg-tertiary-700", "bg-tertiary-800", "bg-tertiary-900", "bg-tertiary-950"
                ],
                error: [
                    "bg-error-50", "bg-error-100", "bg-error-200", "bg-error-300", "bg-error-400", "bg-error-500", "bg-error-600", "bg-error-700", "bg-error-800", "bg-error-900", "bg-error-950"
                ],
                success: [
                    "bg-success-50", "bg-success-100", "bg-success-200", "bg-success-300", "bg-success-400", "bg-success-500", "bg-success-600", "bg-success-700", "bg-success-800", "bg-success-900", "bg-success-950"
                ]
            } %}

        {% for bgColor in bgColors %}
            

            <div class="p-5 border rounded-full {{bgColor}}"></div>
        {% endfor %}

            {% for group, colors in bgColorGroups %}
                    <h2 class="font-bold text-2xl mb-4 mt-6">{{ group | capitalize }}</h2>
                    <div class="flex flex-wrap gap-5">
                        {% for color in colors %}
                            <div class="w-1/4 p-5 -m-5">
                                <div class="p-5 border border-tertiary-300 rounded-full text-center {{color}}">{{ color }}</div>
                            </div>
                        {% endfor %}
                    </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}