/*slick defaults*/

.slick-dots {
  bottom: 13px;
}

.slick-dots li {
  width: auto;
  height: auto;
}

.slick-dots li button {
  background: #B6B6B6;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background: #F7F7F7;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.slick-dots li button:before {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*end slick defaults*/

/*three main sliders*/

.main-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.main-sliders__one {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 480px;
          flex: 0 0 480px;
  margin-right: 8px;
  min-width: 0;
}

.main-sliders__two {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

.main-sliders__three {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 8px;
  min-width: 0;
}

.main-sliders__badge {
  position: absolute;
  top: 25px;
  left: 30px;
}

.main-slider {
  position: relative;
}

.main-slider__item {
  position: relative;
  background-size: cover;
  background-position: center;
}

.main-slider__caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.main-slider_one .main-slider__item {
  height: 460px;
}

.main-slider_two .main-slider__item {
  height: 460px;
}

.main-slider_three .main-slider__item {
  background-position: left;
  height: 380px;
}

.main-slider_three .slick-dots {
  bottom: 26px;
  right: 18px;
  text-align: right;
}

.main-slider__prev {
  width: 30px;
  height: 30px;
  left: 10px;
  background-image: url("../img/slider-arrow-left.svg");
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.main-slider__prev:before {
  display: none;
}

.main-slider__prev:hover {
  opacity: 1;
  background-image: url("../img/slider-arrow-left.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-slider__next {
  width: 30px;
  height: 30px;
  background-image: url("../img/slider-arrow-right.svg");
  right: 10px;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.main-slider__next:before {
  display: none;
}

.main-slider__next:hover {
  opacity: 1;
  background-image: url("../img/slider-arrow-right.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-slider-caption {
  color: #000;
}

.main-slider-caption_light {
  color: #fff;
}

.main-slider-caption__category {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
}

.main-slider-caption__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/*end three main sliders*/

/* main brands */

.brands-slider {
  margin: 0 40px;
}

.brands-slider__insert {
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands-slider__prev {
  width: 30px;
  height: 30px;
  left: -37px;
  background-image: url("../img/slider-arrow-left-red.svg");
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.brands-slider__prev:before {
  display: none;
}

.brands-slider__prev:hover {
  opacity: 1;
  background-image: url("../img/slider-arrow-left-red.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.brands-slider__next {
  width: 30px;
  height: 30px;
  background-image: url("../img/slider-arrow-right-red.svg");
  right: -37px;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.brands-slider__next:before {
  display: none;
}

.brands-slider__next:hover {
  opacity: 1;
  background-image: url("../img/slider-arrow-right-red.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* end main brands */

/*news and arrivals*/

.updates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.updates__news {
  width: calc(50% - 4px);
  position: relative;
  min-width: 0;
}

.updates__arrivals {
  width: calc(50% - 4px);
  position: relative;
}

.updates__badge {
  position: absolute;
  top: 20px;
  left: 31px;
}

.news-slider__item {
  height: 564px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.news-slider__caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.news-slider-caption {
  max-width: 240px;
  color: #000;
}

.news-slider-caption_light {
  color: #FFFFFF;
}

.news-slider-caption__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-arrivals {
  border: 1px solid #E0E0E0;
  padding: 62px 12px 0px 12px;
}

.main-arrivals-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
}

.main-arrivals-item:last-child {
  border-bottom: 0;
}

.main-arrivals-item__img {
  margin: 7px auto;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 184px;
          flex: 0 0 184px;
}

.main-arrivals-item__img a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-arrivals-item__img a:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-arrivals-item__summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 23px;
}

.main-arrivals-item__category {
  margin-top: 25px;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}

.main-arrivals-item__title {
  margin-top: 12px;
  max-width: 280px;
}

.main-arrivals-item__link {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main-arrivals-item__link:hover,
.main-arrivals-item__link:focus {
  color: #222;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*end news and arrivals*/

/*main products*/

.main-big-products {
  margin-top: 8px;
}

.main-big-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-big-products__col {
  width: calc(33.3333333% - 8px);
  margin-bottom: 8px;
}

.main-big-products__item {
  position: relative;
}

.main-big-products .main-product__slider .main-product-slider__item {
  height: 380px;
  background-size: cover;
  background-position: center;
}

.main-small-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-small-products__col {
  width: calc(25% - 8px);
  margin-bottom: 8px;
}

.main-small-products__item {
  position: relative;
}

.main-small-products .main-product__slider .main-product-slider__item {
  display: block;
  height: 282px;
  background-size: cover;
  background-position: center;
}

.main-product__info {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main-product:hover .main-product__info {
  opacity: 1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main-product__badge {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*product info*/

.product-info {
  position: absolute;
  left: 12px;
  bottom: 32px;
  width: 180px;
  background: #4D4D4D;
  background: #4D4D4D90;
  z-index: 1;
  color: #fff;
}

.product-info a {
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-info a:hover,
.product-info a:focus {
  color: #f1f1f1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-info__body {
  padding: 10px;
  border-bottom: 1px solid #707070;
}

.product-info__title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
}

.product-info__category {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 5px;
}

.product-info__subtitle {
  margin-top: 20px;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
}

.product-info__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.product-info__param-item {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.product-info__param-item_active {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  background: #fff;
  color: #292929;
  border: 1px solid #fff;
}

.product-info__footer {
  padding: 12px 10px;
}

.product-info__arrow {
  position: relative;
}

.product-info__arrow :after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/drop-right-inverse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-info__price {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

/*end product info*/

/*end main products*/

@media (max-width: 1200px) {
  .main-sliders__one {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 325px;
            flex: 0 0 325px;
  }

  .main-sliders__badge {
    top: 15px;
    left: 15px;
  }

  .main-slider_one .main-slider__item {
    height: 312px;
  }

  .main-slider_two .main-slider__item {
    height: 312px;
  }

  .main-slider_three .main-slider__item {
    height: 252px;
  }

  .main-big-products__col {
    width: calc(50% - 4px);
  }

  .main-small-products__col {
    width: calc(33.3333333% - 8px);
  }

  .main-small-products .main-product__slider {
    height: 249px;
  }

  .main-product__info {
    opacity: 1;
  }
}

@media (max-width: 810px) {
  .main-sliders__one {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-right: 0;
  }

  .main-sliders__two {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 8px;
  }

  .main-slider__caption {
    bottom: 38px;
    left: 15px;
  }

  .main-slider_one .main-slider__item {
    height: 430px;
  }

  .main-slider_two .main-slider__item {
    height: 430px;
  }

  .main-slider_three .main-slider__item {
    height: 430px;
  }

  .main-slider_three .slick-dots {
    bottom: 13px;
    right: auto;
    text-align: center;
  }

  .main-slider-caption__category {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .main-slider-caption__title {
    font-size: 18px;
    line-height: 21px;
  }

  .brands-slider {
    margin: 0 25px;
  }

  .brands-slider__insert {
    height: 86px;
  }

  .brands-slider__img {
    -webkit-transform: scale(0.67);
        -ms-transform: scale(0.67);
            transform: scale(0.67);
  }

  .updates {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .updates__news {
    width: 100%;
  }

  .updates__arrivals {
    margin-top: 15px;
    width: 100%;
  }

  .updates__badge {
    top: 15px;
    left: 15px;
  }

  .news-slider__item {
    height: 270px;
  }

  .news-slider__caption {
    bottom: 16px;
    left: 15px;
  }

  .news-slider-caption {
    max-width: 180px;
  }

  .news-slider-caption__title {
    font-size: 18px;
    line-height: 21px;
  }

  .main-arrivals {
    padding: 54px 12px 0px 12px;
  }

  .main-arrivals-item__img {
    margin: 15px auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
  }

  .main-arrivals-item__img img {
    width: 100px;
    height: auto;
  }

  .main-arrivals-item__summary {
    padding-left: 10px;
  }

  .main-arrivals-item__category {
    margin-top: 26px;
  }

  .main-arrivals-item__link {
    font-size: 14px;
    line-height: 16px;
  }

  .main-big-products {
    display: none;
  }

  .main-small-products {
    display: none;
  }
}

@media (max-width: 320px) {
  .main-slider_one .main-slider__item {
    height: 270px;
  }

  .main-slider_two .main-slider__item {
    height: 270px;
  }

  .main-slider_three .main-slider__item {
    height: 270px;
  }
}