/*alert sale*/

.alert-sale {
  display: block;
  padding: 13px 10px 11px 10px;
  background: #D8D8D8;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1F1F1F;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.alert-sale:hover,
.alert-sale:focus {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: #b5b5b5;
}

/*end alert sale*/

/*product detail*/

.product-detail {
  margin-bottom: 60px;
}

.product-detail__bottom {
  margin-top: 22px;
}

.pd-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pd-top__slider {
  width: 797px;
}

.pd-top__summary {
  width: 337px;
}

.pd-top_out-of-stock .pd-summary__category {
  margin-top: 60px;
}

.pd-top_out-of-stock .pd-summary__title {
  margin-top: 9px;
}

.pd-top_out-of-stock .pd-summary__text {
  margin-top: 26px;
}

.pd-top_out-of-stock .pd-summary__price {
  margin-top: 20px;
}

.pd-top_out-of-stock .pd-summary__sizes-link {
  margin-top: 25px;
}

.pd-top_out-of-stock .pd-summary__sizes-select {
  margin-top: 25px;
}

.pd-top_out-of-stock .pd-summary-button {
  height: 41px;
}

.pd-slider {
  position: relative;
  height: 498px;
}

.pd-slider__get-look {
  position: absolute;
  right: 109px;
  bottom: 15px;
  display: inline-block;
  padding: 8px 20px;
  background: #f2f2f2;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4D4D4D;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.pd-slider__get-look img {
  vertical-align: bottom;
  margin-left: 10px;
}

.pd-slider__get-look:hover,
.pd-slider__get-look:focus {
  background: #d2d2d2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-slider__like {
  display: none;
  position: absolute;
  width: 22px;
  height: 19px;
  top: 30px;
  right: 23px;
  background-image: url("../img/pd-like.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  font-size: 10px;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.pd-slider__like:hover,
.pd-slider__like:focus {
  background-image: url("../img/pd-like-focus.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-slider__slider {
  position: relative;
}

.pd-slider__item {
  height: 498px;
  width: 394px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.pd-slider .slick-slider {
  overflow: hidden;
}

.pd-slider .slick-slide {
  margin-left: 5px;
  margin-right: 5px;
}

.pd-slider .slick-list {
  margin-left: -5px;
  margin-right: -5px;
}

.pd-slider__prev {
  width: 30px;
  height: 30px;
  left: 10px;
  background-image: url("../img/pd-slider-arrow-left.svg");
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.pd-slider__prev:before {
  display: none;
}

.pd-slider__prev:hover {
  opacity: 1;
  background-image: url("../img/pd-slider-arrow-left.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-slider__next {
  width: 30px;
  height: 30px;
  background-image: url("../img/pd-slider-arrow-right.svg");
  right: 10px;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.pd-slider__next:before {
  display: none;
}

.pd-slider__next:hover {
  opacity: 1;
  background-image: url("../img/pd-slider-arrow-right.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-slider .slick-dots {
  bottom: 26px;
  width: 394px;
}

.pd-slider .slick-dots li {
  width: auto;
  height: auto;
}

.pd-slider .slick-dots li button {
  background: #B6B6B6;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
}

.pd-slider .slick-dots li.slick-active button {
  background: #F7F7F7;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.pd-slider .slick-dots li button:before {
  display: none;
}

.pd-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.pd-summary {
  text-align: center;
}

.pd-summary__category {
  display: block;
  margin-top: 33px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #373737;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-summary__category:hover,
.pd-summary__category:focus {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-summary__title {
  margin-top: 6px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #373737;
}

.pd-summary__text {
  margin-top: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.pd-summary__price {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.pd-summary__colors {
  margin-top: 24px;
}

.pd-summary__sizes-link {
  display: block;
  margin-top: 19px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-decoration: underline;
  color: #373737;
}

.pd-summary__sizes-link img {
  margin-left: 8px;
  vertical-align: bottom;
}

.pd-summary__sizes-select {
  display: block;
  width: 100%;
  margin-top: 21px;
  padding: 13px 14px 11px 14px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  border: 1px solid #D8D8D8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/pd-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.pd-summary__sizes-select:hover,
.pd-summary__sizes-select:focus {
  border-color: #b9b9b9;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.pd-summary__buttons {
  margin-top: 10px;
}

.pd-summary__buttons_mobile {
  margin-top: 22px;
  display: none;
}

.pd-summary__buttons_mobile .pd-summary-button {
  height: 40px;
}

.pd-summary__buttons_mobile .pd-summary-button img {
  margin-left: 4px;
}

.pd-summary__subscribe {
  margin-top: 15px;
}

.pd-counter {
  padding: 13px 17px 10px 18px;
  background: #707070;
  color: #FFFFFF;
  text-align: left;
}

.pd-counter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pd-counter__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 87px;
          flex: 0 0 87px;
  margin-right: 27px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pd-counter__item:nth-of-type(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58px;
          flex: 0 0 58px;
}

.pd-counter__item:nth-of-type(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58px;
          flex: 0 0 58px;
}

.pd-counter__item:nth-of-type(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54px;
          flex: 0 0 54px;
}

.pd-counter__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.pd-counter__delimiter {
  position: absolute;
  right: 0;
  top: 3px;
  width: 1px;
  height: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1px;
          flex: 0 1 1px;
  background: #4D4D4D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pd-counter__val {
  margin-top: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.pd-summary-colors__title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.pd-summary-colors__insert {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
}

.pd-summary-colors__item {
  background: #ccc;
  width: 26px;
  height: 26px;
  margin: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-summary-colors__item:focus,
.pd-summary-colors__item_active {
  border: 0;
  outline: none;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-summary-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pd-summary-buttons__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(50% - 4px);
}

.pd-summary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.pd-summary-button_dark {
  background: #616161;
  border: 1px solid #616161;
  color: #fff;
}

.pd-summary-button_dark img {
  margin-left: 10px;
}

.pd-summary-button_dark:hover,
.pd-summary-button_dark:focus {
  background: #484848;
  border: 1px solid #484848;
}

.pd-summary-button_light {
  border: 1px solid #D8D8D8;
  background: #fff;
  color: #000000;
}

.pd-summary-button_light img {
  margin-left: 10px;
}

.pd-summary-button_light:hover,
.pd-summary-button_light:focus {
  background: #D8D8D8;
  border: 1px solid #D8D8D8;
}

.pd-summary-subscribe__insert {
  position: relative;
  text-align: right;
}

.pd-summary-subscribe__input {
  width: 100%;
  height: 40px;
  padding: 9px 7px;
  font-size: 14px;
  line-height: 12px;
  color: #707070;
  border: 1px solid #F2F2F2;
  background: transparent;
}

.pd-summary-subscribe__btn {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 34px;
  width: 109px;
  font-size: 12px;
  background: #E0E0E0;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-summary-subscribe__btn:hover,
.pd-summary-subscribe__btn:focus {
  background: #393939;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-tabs.ui-tabs {
  border: 0;
  padding: 0;
}

.product-detail-tabs.ui-tabs .product-detail-tabs__list.ui-tabs-nav {
  padding: 0;
}

.product-detail-tabs.ui-tabs .ui-tabs-nav.ui-widget-header {
  background: #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #D2D2D2;
  border-left: 0;
  border-radius: 0;
  margin-bottom: 24px;
}

.product-detail-tabs.ui-tabs .ui-tabs-nav li {
  margin: 0 22px -2px 0;
}

.product-detail-tabs .ui-state-default,
.product-detail-tabs .ui-widget-content .ui-state-default,
.product-detail-tabs .ui-widget-header .ui-state-default,
.product-detail-tabs .ui-button,
html .product-detail-tabs .ui-button.ui-state-disabled:hover,
html .product-detail-tabs .ui-button.ui-state-disabled:active {
  border: 0;
  background: transparent;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.product-detail-tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0  0 6px 0;
}

.product-detail-tabs .ui-state-default a,
.product-detail-tabs .ui-state-default a:link,
.product-detail-tabs .ui-state-default a:visited {
  font-weight: 700;
  color: #B6B6B6;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-tabs .ui-state-hover a,
.product-detail-tabs .ui-state-hover a:link,
.product-detail-tabs .ui-state-hover a:visited {
  color: #868686;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-tabs .ui-state-active,
.product-detail-tabs .ui-widget-content .ui-state-active,
.product-detail-tabs .ui-widget-header .ui-state-active {
  background: transparent;
  color: #000;
  border: 0;
  border-bottom: 3px solid #000;
}

.product-detail-tabs .ui-state-active a,
.product-detail-tabs .ui-state-active a:link,
.product-detail-tabs .ui-state-active a:visited {
  color: #000;
}

.product-detail-tabs__list-link {
  padding: 0;
}

.product-detail-tabs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-detail-tabs__content-wrap {
  width: 797px;
}

.product-detail-tabs__picture-wrap {
  width: 337px;
}

.product-detail-tabs__img {
  max-width: 100%;
  margin-top: 22px;
}

.product-detail-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-detail-content__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.product-detail-content__col:first-child {
  padding-right: 60px;
}

.product-detail-content__subtitle {
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 6px;
}

.product-detail-content h1,
.product-detail-content h2 {
  font-weight: 900;
  line-height: 21px;
  color: #000000;
  margin-bottom: 5px;
}

.product-detail-content h3,
.product-detail-content h4,
.product-detail-content h5,
.product-detail-content h6 {
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  margin-bottom: 5px;
}

.product-detail-content h1 {
  font-size: 20px;
}

.product-detail-content h2 {
  font-size: 18px;
}

.product-detail-content h3 {
  font-size: 16px;
}

.product-detail-content h4 {
  font-size: 14px;
}

.product-detail-content h5 {
  font-size: 13px;
}

.product-detail-content h6 {
  font-size: 13px;
}

.product-detail-content p {
  margin-bottom: 20px;
}

.product-detail-content a {
  text-decoration: underline;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}

.product-detail-content a:hover,
.product-detail-content a:focus {
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}

.product-detail-tabs-mobile {
  display: none;
  margin-top: 33px;
}

.pd-tab-mobile-item__title {
  margin-top: -1px;
  padding: 11px 0 12px 0;
  font-size: 18px;
  line-height: 21px;
  color: #1F1F1F;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
}

.pd-tab-mobile-item__title .container {
  position: relative;
}

.pd-tab-mobile-item__title .container:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 6px;
  top: 7px;
  right: 36px;
  background-image: url("../img/pd-select-arrow.svg");
  background-repeat: no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-tab-mobile-item__title_active .container:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pd-tab-mobile-item__content {
  display: none;
  padding-top: 20px;
}

/*end product detail*/

/*product detail other*/

.product-detail-other {
  padding: 52px 0 42px 0;
}

.product-detail-other_dark {
  padding: 52px 0 50px 0;
  background: #F8F8F8;
}

.product-detail-other_dark .product-detail-other__title {
  margin-bottom: 40px;
}

.product-detail-other__title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1F1F1F;
}

/*product detail other*/

/*product detail related*/

.product-detail-related-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.product-detail-related-list__item {
  width: 25%;
  padding: 0 8px;
}

.product-detail-related-list_threecol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.product-detail-related-list_threecol .product-detail-related-list__item {
  width: 33.333333%;
  padding: 0 8px;
}

.product-detail-related-list_threecol .product-detail-related-list__item:nth-child(4) {
  display: none;
}

.product-detail-related-list_threecol .product-detail-related__body {
  position: relative;
  height: 380px;
}

.product-detail-related {
  position: relative;
}

.product-detail-related:hover .product-info {
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-related__body {
  position: relative;
  height: 278px;
}

.product-detail-related__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-related__footer {
  display: none;
}

.product-detail-related__link-wrap {
  display: block;
}

.product-detail-related__like {
  display: none;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 17px;
  bottom: 11px;
  background-image: url("../img/like-prod.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  font-size: 10px;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.product-detail-related__like:hover {
  background-image: url("../img/like-prod-hover.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-related__like:focus {
  background-image: url("../img/like-prod-focus.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-related-footer {
  position: relative;
}

.product-detail-related-footer__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}

.product-detail-related-footer__summary-col:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  text-align: right;
}

.product-detail-related-footer__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.product-detail-related-footer__text {
  margin-top: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #707070;
}

.product-detail-related-footer__price {
  margin-top: 4px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

/*end product detail related*/

/*product info*/

.product-info {
  position: absolute;
  opacity: 0;
  left: 20px;
  bottom: 24px;
  width: 180px;
  background: #4D4D4D;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.product-info a {
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-info a:hover,
.product-info a:focus {
  color: #f1f1f1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-info a {
  color: #fff;
}

.product-info__body {
  padding: 10px;
  border-bottom: 1px solid #707070;
}

.product-info__title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
}

.product-info__category {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 5px;
}

.product-info__subtitle {
  margin-top: 20px;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
}

.product-info__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.product-info__param-item {
  width: 30px;
  height: 20px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.product-info__param-item_active {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  background: #fff;
  color: #292929;
  border: 1px solid #fff;
}

.product-info__footer {
  padding: 12px 10px;
}

.product-info__arrow {
  position: relative;
}

.product-info__arrow :after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/drop-right-inverse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-info__price {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

/*end product info*/

/*dialog windows*/

.ui-widget-overlay {
  background: #1F1F1F;
  opacity: 0.5;
  z-index: 1001 !important;
}

.manomy-dialog {
  padding: 0;
}

.manomy-dialog.ui-widget.ui-widget-content {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 100% !important;
  max-width: 1160px;
}

.manomy-dialog.ui-dialog .ui-dialog-content {
  padding: 60px 60px 80px 40px;
  overflow: visible;
}

.manomy-dialog .ui-widget-header {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.manomy-dialog .ui-dialog .ui-dialog-titlebar-close {
  height: 22px;
  width: 22px;
}

.manomy-dialog .ui-button {
  border: 0;
  background: transparent;
}

.manomy-dialog .ui-button .ui-icon {
  position: absolute;
  top: 25px;
  right: 20px;
  left: auto;
  width: 22px;
  height: 22px;
  margin: 0;
  background-image: url("../img/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.manomy-dialog .ui-button .ui-icon:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*end dialog windows*/

/*dialog slider*/

.product-detail-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail-gallery__main-wrapper {
  width: calc(100% - 90px);
  padding-bottom: 11px;
}

.product-detail-gallery__thumbs-wrapper {
  min-width: 90px;
  z-index: 1;
}

.product-detail-gallery__thumbs-wrapper .product-detail-gallery-thumbs__item {
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-gallery__thumbs-wrapper .product-detail-gallery-thumbs__item:hover,
.product-detail-gallery__thumbs-wrapper .slick-current.product-detail-gallery-thumbs__item {
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-gallery-main {
  width: 100%;
  height: 100%;
}

.product-detail-gallery-main .slick-slider,
.product-detail-gallery-main .slick-list,
.product-detail-gallery-main .slick-track {
  height: 100%;
}

.product-detail-gallery__main-wrapper .product-detail-gallery-main__item {
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 10px;
}

.product-detail-gallery-thumbs .product-detail-gallery-thumbs__item {
  height: 134px;
  width: 90px;
  margin-bottom: 11px;
  border: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail-gallery .slick-arrow {
  z-index: 1;
}

.product-detail-gallery__prev {
  width: 45px;
  height: 45px;
  left: 90px;
  background-image: url("../img/pd-gallery-arrow-left.svg");
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.product-detail-gallery__prev:before {
  display: none;
}

.product-detail-gallery__prev:hover {
  opacity: 1;
  background-image: url("../img/pd-gallery-arrow-left.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-gallery__next {
  width: 45px;
  height: 45px;
  background-image: url("../img/pd-gallery-arrow-right.svg");
  right: 90px;
  z-index: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

.product-detail-gallery__next:before {
  display: none;
}

.product-detail-gallery__next:hover {
  opacity: 1;
  background-image: url("../img/pd-gallery-arrow-right.svg");
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.product-detail-gallery .slick-dots {
  bottom: -65px;
  width: 100%;
}

.product-detail-gallery .slick-dots li {
  width: auto;
  height: auto;
}

.product-detail-gallery .slick-dots li button {
  background: #B6B6B6;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
}

.product-detail-gallery .slick-dots li.slick-active button {
  background: #4D4D4D;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.product-detail-gallery .slick-dots li button:before {
  display: none;
}

.product-detail-gallery .slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*end dialog slider*/

/*sizes table*/

.sizes-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sizes-table__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 278px;
          flex: 0 0 278px;
  margin-right: 45px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.sizes-table__img {
  max-width: 100%;
  height: auto;
}

.sizes-table__body {
  overflow-x: auto;
}

.sizes-table__title {
  margin-top: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.sizes-table__insert {
  overflow-x: auto;
}

.sizes-table__hint {
  margin-top: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #909090;
}

.sizes-table-data {
  margin-top: 23px;
  border-collapse: collapse;
}

.sizes-table-data__tr {
  border-top: 1px solid #B6B6B6;
}

.sizes-table-data__tr:last-child {
  border-bottom: 1px solid #B6B6B6;
}

.sizes-table-data__td {
  padding: 12px 13px 28px 13px;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.sizes-table-data__td_title {
  font-weight: 700;
  padding: 13px 6px 13px 0px;
  border-right: 1px solid #B6B6B6;
}

/*end sizes table*/

@media (max-width: 1200px) {
  .pd-top__slider {
    width: 375px;
  }

  .pd-top__summary {
    width: 375px;
  }

  .pd-slider__get-look {
    right: 0px;
    bottom: 46px;
  }

  .pd-slider .slick-dots {
    width: 100%;
    bottom: 20px;
  }

  .pd-slider .slick-dots li button {
    width: 9px;
    height: 9px;
  }

  .pd-slider .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
  }

  .pd-counter__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product-detail-content__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 20px;
  }

  .product-detail-content__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .product-detail-content__col:first-child {
    padding-right: 0;
  }

  .product-detail-related-list_threecol .product-detail-related__body {
    height: 250px;
  }

  .product-detail-related:hover .product-info {
    display: none;
  }

  .product-detail-related__body {
    height: 180px;
  }

  .product-detail-related__footer {
    display: block;
  }

  .product-detail-related__like {
    display: block;
  }

  .product-detail-related-footer__summary {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 14px;
  }

  .product-detail-related-footer__summary-col:last-child {
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .product-info {
    display: none;
  }

  .sizes-table__title {
    margin-top: 38px;
  }

  .sizes-table-data {
    margin-top: 13px;
  }

  .sizes-table-data__td_title {
    font-size: 12px;
  }
}

@media (max-width: 810px) {
  .product-detail {
    margin-bottom: 0;
  }

  .pd-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .pd-top__slider {
    width: 100%;
  }

  .pd-top__summary {
    width: 100%;
  }

  .pd-slider {
    height: auto;
  }

  .pd-slider__like {
    display: block;
  }

  .pd-slider__prev {
    display: none !important;
  }

  .pd-slider__next {
    display: none !important;
  }

  .pd-summary__category {
    font-size: 24px;
    line-height: 28px;
  }

  .pd-summary__title {
    font-size: 16px;
    line-height: 19px;
  }

  .pd-summary__text {
    display: none;
  }

  .pd-summary__price {
    margin-top: 23px;
    font-size: 24px;
    line-height: 28px;
  }

  .pd-summary__colors {
    margin-top: 24px;
  }

  .pd-summary__sizes-link {
    margin-top: 17px;
  }

  .pd-summary__sizes-select {
    margin-top: 27px;
  }

  .pd-summary__buttons {
    display: none;
  }

  .pd-summary__buttons_mobile {
    display: block;
  }

  .pd-counter__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    margin-right: 13px;
  }

  .pd-summary-colors__insert {
    height: 71px;
  }

  .pd-summary-colors__item {
    margin: 5px;
    width: 51px;
    height: 51px;
  }

  .pd-summary-colors__item:focus,
  .pd-summary-colors__item_active {
    width: 71px;
    height: 71px;
  }

  .pd-summary-subscribe {
    width: 100%;
  }

  .pd-summary-subscribe__btn {
    position: static;
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .product-detail-tabs {
    display: none;
  }

  .product-detail-tabs-mobile {
    display: block;
  }

  .product-detail-other {
    padding: 24px 0 24px 0;
  }

  .product-detail-other_dark {
    padding: 24px 0 24px 0;
  }

  .product-detail-other_dark {
    background: transparent;
  }

  .product-detail-other_dark .product-detail-other__title {
    margin-bottom: 23px;
  }

  .product-detail-other__title {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }

  .product-detail-related-list {
    margin: 0 -4px;
  }

  .product-detail-related-list__item {
    width: 50%;
    padding: 0 4px;
  }

  .product-detail-related-list_threecol {
    margin: 0 -4px;
  }

  .product-detail-related-list_threecol .product-detail-related-list__item {
    width: 50%;
    padding: 0 4px;
  }

  .product-detail-related-list_threecol .product-detail-related-list__item:nth-child(4) {
    display: block;
  }

  .product-detail-related-list_threecol .product-detail-related__body {
    height: 250px;
  }

  .product-detail-related__body {
    height: 250px;
  }

  .product-detail-related-footer__title {
    font-size: 14px;
    line-height: 16px;
  }

  .product-detail-related-footer__text {
    margin-top: 3px;
    font-size: 13px;
    line-height: 15px;
    color: #434343;
  }

  .product-detail-related-footer__price {
    margin-top: 12px;
  }

  .manomy-dialog.ui-widget.ui-widget-content {
    max-width: 810px;
  }

  .manomy-dialog.manomy-dialog_sizes.ui-widget.ui-widget-content {
    border-top: 4px solid #1F1F1F50;
    border-right: 4px solid #1F1F1F50;
    border-bottom: 9px solid #1F1F1F50;
    border-left: 4px solid #1F1F1F50;
  }

  .manomy-dialog.ui-dialog .ui-dialog-content.view-the-look {
    padding: 57px 0 101px 0;
  }

  .manomy-dialog.ui-dialog .ui-dialog-content.view-sizes-table {
    padding: 49px 26px 34px 26px;
  }

  .product-detail-gallery {
    display: block;
  }

  .product-detail-gallery__main-wrapper {
    width: 100%;
    height: calc(100vh - 160px);
  }

  .product-detail-gallery__thumbs-wrapper {
    display: none;
  }

  .product-detail-gallery__main-wrapper .product-detail-gallery-main__item {
    margin: 0;
    background-size: cover;
  }

  .sizes-table {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sizes-table__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    background: #000;
  }
}

@media (max-width: 488px) {
  .pd-slider__get-look {
    right: -20px;
    bottom: 46px;
  }

  .pd-slider__like {
    right: 3px;
  }

  .pd-slider__slider {
    margin-left: -20px;
    margin-right: -20px;
  }

  .pd-slider__item {
    height: 410px;
  }

  .pd-summary__counter {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 400px) {
  .product-detail-related-list_threecol .product-detail-related__body {
    height: 180px;
  }

  .product-detail-related__body {
    height: 180px;
  }
}