/*defaults*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*end defaults*/

/*fonts*/

/* roboto-100 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/roboto/Roboto-Thin.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-300 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/roboto/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/roboto/Roboto-Black.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff"), url("../fonts/roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/roboto/Roboto-Black.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/*end fonts*/

/*common*/

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

b,
strong,
.strong {
  font-weight: 700;
}

.small {
  font-size: 0.8em;
}

.link{
    color: #D80000;
    text-decoration: none;
}

.link:hover,
.link:focus{
    text-decoration: underline;
}

.container {
  width: 1200px;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 20px;
}

.page-body {
  min-width: 320px;
  padding-top: 133px;
}

.badge {
  display: inline-block;
  padding: 9px 20px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #4D4D4D80;
  z-index: 1;
}

.badge_white {
  display: inline-block;
  padding: 9px 20px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1F1F1F;
  background: #F8F8F8;
}

.badge_red {
  display: inline-block;
  padding: 5px 9px 4px 9px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #D80000;
}

.badge_black {
  display: inline-block;
  padding: 5px 11px 4px 11px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: none;
  color: #fff;
  background: #1F1F1F;
}

/*end common*/

/*header*/

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 133px;
  border-bottom: 1px solid #D2D2D2;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5px;
}

.header__menu-icon {
  display: none;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 177px;
          flex: 0 0 177px;
  margin-top: -7px;
}

.header__logo a {
  display: block;
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 269px;
          flex: 0 0 269px;
  margin-top: 7px;
}

.header__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 228px;
          flex: 0 0 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6px;
}

.menu-icon {
  display: block;
  width: 26px;
  height: 20px;
  position: relative;
  margin-top: 6px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-icon__line {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #373737;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-icon__line:nth-child(1) {
  top: 0;
}

.menu-icon__line:nth-child(2) {
  top: 8px;
}

.menu-icon__line:nth-child(3) {
  top: 16px;
}

.menu-icon_active .menu-icon__line:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-icon_active .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.menu-icon_active .menu-icon__line:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__item {
  margin: 0 6px;
  position: relative;
}

.header-menu__item:first-child {
  margin-left: 0;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1F1F1F;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-menu__link:hover,
.header-menu__link:focus {
  color: #D80000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-menu__link_active {
  color: #D80000;
}

.header-menu__link_active:hover,
.header-menu__link_active:focus {
  color: #b10101;
}

.header-menu__has-sublist .header-menu__link:after {
  content: "";
  height: 2px;
  width: 4px;
  position: absolute;
  right: 3px;
  top: 18px;
  background: url("../img/dropdown.svg");
}

.header-sublst {
  display: none;
  min-width: 250px;
  position: absolute;
  top: 27px;
  left: 10px;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 114px -14px #e3e3e3;
          box-shadow: 0px 2px 114px -14px #e3e3e3;
}

.header-sublst_lang {
  top: 40px;
  left: 10px;
  min-width: 150px;
}

.header-sublst__item {
  white-space: nowrap;
  margin: 1px 0;
}

.header-sublst__link {
  display: block;
  padding: 10px 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}

.header-sublst__link:hover,
.header-sublst__link:focus {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #D80000;
}

.header-search .header-search__insert {
  position: relative;
  text-align: right;
}

.header-search__input {
  width: 230px;
  height: 40px;
  padding: 10px 16px;
  font-size: 11px;
  line-height: 13px;
  color: #4C4C4C;
  border: 1px solid #F2F2F2;
}

.header-search__btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 51px;
  background: transparent;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-search__btn:hover,
.header-search__btn:focus {
  background: #f9f9f9;
  border-top: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-links__lang {
  padding: 10px;
}

.header-links__user {
  padding: 8px;
}

.header-links__like {
  padding: 8px;
}

.header-links__cart {
  padding: 8px;
}

.header-lang {
  position: relative;
}

.header-lang__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-lang__link-part {
  margin-right: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #1F1F1F;
}

.header-lang__link-part_drop {
  margin-top: -3px;
  margin-right: 0px;
}

/*end header*/

/*slide menu*/

.slide-menu {
  min-width: 320px;
}

.slide-menu__sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 0px;
  padding-right: 0;
  padding-left: 0;
  white-space: nowrap;
  background: #4D4D4D;
  color: #fff;
  -webkit-transition-property: width, padding;
  -o-transition-property: width, padding;
  transition-property: width, padding;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: 1000;
}

.slide-menu__content {
  -webkit-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}

/*end slide menu*/

/*sidebar*/

.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.sidebar__phone {
  font-size: 10px;
  line-height: 12px;
  color: #B6B6B6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-right: 3px;
}

.sidebar__phone:hover,
.sidebar__phone:focus {
  color: #eaeaea;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.sidebar__search {
  margin: 17px 0 26px 0;
}

.sidebar .sidebar__footer {
  margin-top: 63px;
}

.sidebar-container {
  padding: 0 19px 0 15px;
}

.sidebar-search__insert {
  position: relative;
  text-align: right;
}

.sidebar-search__input {
  width: 100%;
  height: 40px;
  padding: 10px 16px 10px 38px;
  font-size: 11px;
  line-height: 13px;
  background: #4D4D4D;
  color: #fff;
  border: 1px solid #707070;
}

.sidebar-search__btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 38px;
  background: transparent;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.sidebar-search__btn:hover,
.sidebar-search__btn:focus {
  background: #adf;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.sidebar-menu__link {
  position: relative;
  display: block;
  padding: 18px 20px 17px 20px;
  border-top: 1px solid #3D3D3D;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: padding 0.3s ease-in;
  -o-transition: padding 0.3s ease-in;
  transition: padding 0.3s ease-in;
}

.sidebar-menu__link:last-child {
  border-bottom: 1px solid #3D3D3D;
}

.sidebar-menu__has-sublist .sidebar-menu__link:before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  /* background-color: #0080ff; */
  background-image: url(../img/drop-left-inverse.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.sidebar-menu__has-sublist .sidebar-menu__link:after {
  content: "";
  height: 100%;
  width: 43px;
  position: absolute;
  right: 0;
  top: 0;
  /* background-color: #0080ff; */
  background-image: url(../img/drop-right-inverse.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: right 0.3s ease-in;
  -o-transition: right 0.3s ease-in;
  transition: right 0.3s ease-in;
}

.sidebar-menu__has-sublist .sidebar-menu__link_active {
  padding-left: 50px;
}

.sidebar-menu__has-sublist .sidebar-menu__link_active:before {
  width: 35px;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.sidebar-menu__has-sublist .sidebar-menu__link_active:after {
  right: -43px;
  -webkit-transition: right 0.3s ease-in;
  -o-transition: right 0.3s ease-in;
  transition: right 0.3s ease-in;
}

.sidebar-menu__has-sublist .sidebar-menu__link:last-child {
  border-bottom: 1px solid #3D3D3D;
}

.sidebar-sublst {
  display: none;
  padding: 13px 15px 13px 15px;
  border-top: 1px solid #3D3D3D;
}

.sidebar-sublst_lang {
  border-top: 0;
  padding: 0px 15px 10px 48px;
}

.sidebar-sublst_lang .sidebar-sublst__link {
  margin-bottom: 0;
}

.sidebar-sublst__link {
  display: block;
  margin-bottom: 9px;
  padding: 5px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.sidebar-sublst__item:last-child .sidebar-sublst__link {
  margin-bottom: 0;
}

.sidebar-account__item {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.sidebar-account__img {
  margin-right: 10px;
}

.sidebar-lang {
  position: relative;
  margin-right: 25px;
  border-top: 1px solid #3D3D3D;
}

.sidebar-lang__link {
  padding-left: 20px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sidebar-lang__link-part {
  margin-right: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.sidebar-lang__link-part_drop {
  margin-top: -3px;
  margin-right: 0px;
}

/*end sidebar*/

/*header cart*/

.header-cart {
  position: relative;
}

.header-cartinput::-webkit-outer-spin-button,
.header-cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-cartinput[type=number] {
  -moz-appearance: textfield;
}

.header-cart_active {
  background: #F1F1F1;
  cursor: pointer;
  padding: 0;
}

.header-cart_active > a {
  padding: 8px;
  display: block;
  height: 100%;
  width: 100%;
}

.header-cart__count {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #D80000;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
}

.header-cart-list {
  display: none;
  cursor: default;
  position: absolute;
  top: 39px;
  right: 0px;
  width: 450px;
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0px 2px 114px -14px #d6d6d6;
          box-shadow: 0px 2px 114px -14px #d6d6d6;
}

.header-cart-list__item {
  padding: 18px 19px 17px 27px;
  border-bottom: 1px solid #E4E4E4;
}

.header-cart-list__footer {
  padding: 16px 18px 16px 27px;
}

.header-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-cart-item:nth-child(even) {
  background: #F4F4F4;
}

.header-cart-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.header-cart-item__img-link {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-item__img-link img {
  max-width: 100%;
}

.header-cart-item__img-link:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-item__summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
}

.header-cart-item__total {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 115px;
          flex: 0 0 115px;
}

.header-cart-item__title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #4E4E4E;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-item__title:hover,
.header-cart-item__title:focus {
  color: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-item__category {
  margin-top: 4px;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #808080;
}

.header-cart-item__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 11px;
}

.header-cart-item__amount {
  margin-top: 17px;
}

.header-cart-item__sum {
  margin-top: 10px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.header-cart-item__cost {
  display: none;
}

.header-cart-item-param {
  margin-right: 20px;
}

.header-cart-item-param__title {
  font-size: 11px;
  line-height: 13px;
  color: #808080;
}

.header-cart-item-param__val-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.header-cart-item-param__val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 30px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #D8D8D8;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #606060;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-item-param__val_color {
  border: 0;
}

.header-cart-item-param__val_active,
.header-cart-item-param__val:hover,
.header-cart-item-param__val:focus {
  color: #000;
  border: 1px solid #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-cart-amount__decrease,
.header-cart-amount__increase {
  font-size: 14px;
  line-height: 16px;
  color: #7D7D7D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-amount__decrease:hover,
.header-cart-amount__increase:hover {
  background: #ececec;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-amount__val {
  background: transparent;
  width: 20px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}

.header-cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-cart-footer__amount {
  font-size: 10px;
  line-height: 12px;
  color: #808080;
}

.header-cart-footer__sum {
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.header-cart-footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 34px;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #4D4D4D;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-cart-footer-button:hover,
.header-cart-footer-button:focus {
  background: #2d2d2d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*end header cart list*/

/*breadcrumbs*/

.breadcrumbs {
  margin-top: 25px;
}

.breadcrumbs__item,
.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  color: #8F8F8F;
}

.breadcrumbs__item_delimiter {
  margin: 0 4px;
}

.breadcrumbs__link {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: #424242;
  text-decoration: underline;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*end breadcrumbs*/

/*page title*/

.page-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1F1F1F;
}

/*end page title*/

/*footer*/

.footer {
  background: #262626;
  min-width: 320px;
}

.footer__top {
  height: 185px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__delimiter {
  height: 1px;
  border-bottom: 1px solid #525252;
}

.footer-top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  border-right: 8px solid #D80000;
  height: 60px;
}

.footer-top__logo img {
  margin-top: -5px;
}

.footer-top__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 219px;
          flex: 0 0 219px;
  height: 50px;
  margin-left: 75px;
}

.footer-top__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 187px;
          flex: 0 0 187px;
  height: 50px;
}

.footer-top__payment {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
  white-space: nowrap;
  margin-right: 84px;
}

.footer-top__label {
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  color: #757575;
}

.footer-top__content {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top__phone-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-top__phone-link:hover,
.footer-top__phone-link:focus {
  color: #9a9a9a;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-top__social-link {
  margin-right: 16px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-top__social-link:hover,
.footer-top__social-link:focus {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-top__payment-item {
  margin-right: 28px;
  vertical-align: middle;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__full-version {
  display: none;
  margin-top: 22px;
  text-align: left;
  width: 100%;
}

.footer-bottom__full-version-link {
  font-size: 10px;
  line-height: 12px;
  color: #A1A1A1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-bottom__full-version-link:hover,
.footer-bottom__full-version-link:focus {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  text-decoration: underline;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu__item {
  margin-right: 3px;
}

.footer-menu__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 19px;
}

.footer-menu__link_active,
.footer-menu__link:hover,
.footer-menu__link:focus {
  color: #9a9a9a;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-subscribe__insert {
  position: relative;
  text-align: right;
}

.footer-subscribe__input {
  width: 479px;
  height: 40px;
  padding: 14px 15px;
  font-size: 10px;
  line-height: 12px;
  color: #A1A1A1;
  border: 1px solid #3A3A3A;
  background: transparent;
}

.footer-subscribe__btn {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 34px;
  width: 118px;
  font-size: 12px;
  background: #fff;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-subscribe__btn:hover,
.footer-subscribe__btn:focus {
  background: #393939;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-copyright {
  padding-left: 20px;
}

.footer-copyright__item {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #3A3A3A;
  margin-right: 20px;
}

.footer-copyright__item:last-child {
  margin-right: 0;
}

.footer-copyright__link {
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: #3A3A3A;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-copyright__link:hover,
.footer-copyright__link:focus {
  color: #9a9a9a;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer_product-detail {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

/*end footer*/

@media (max-width: 1200px) {
  .container {
    width: 810px;
  }

  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-cart-list {
    max-height: calc(100vh - 62px);
  }

  .footer__top {
    height: 150px;
    padding-bottom: 0;
  }

  .footer__bottom {
    height: 100px;
  }

  .footer-top__logo {
    border-right: 4px solid #D80000;
    height: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 133px;
            flex: 0 0 133px;
  }

  .footer-top__logo img {
    width: 110px;
    height: auto;
  }

  .footer-top__phone {
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    margin-left: 10px;
  }

  .footer-top__social {
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }

  .footer-top__payment {
    height: 40px;
    margin-right: 10px;
  }

  .footer-top__label {
    font-size: 12px;
    line-height: 14px;
  }

  .footer-top__phone-link {
    font-size: 14px;
  }

  .footer-top__payment-item {
    margin-right: 16px;
  }

  .footer-menu__link {
    padding: 8px;
  }

  .footer-subscribe__input {
    width: 300px;
  }

  .footer-copyright {
    padding-left: 0px;
  }
}

@media (max-width: 810px) {
  .container {
    width: 488px;
  }

  .page-body {
    padding-top: 65px;
  }

  .badge {
    padding: 7px 15px;
    font-size: 14px;
    line-height: 16px;
  }

  .badge_white {
    padding: 7px 7px;
    font-size: 12px;
    line-height: 14px;
  }

  .badge_red {
    padding: 4px 10px;
    font-size: 10px;
  }

  .badge_black {
    padding: 4px 10px;
    font-size: 10px;
  }

  .header-wrapper .container {
    margin: 0;
    margin-left: calc((100vw - 488px)/2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header {
    height: 65px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-icon {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -2px;
  }

  .header__logo img {
    width: 100px;
    height: auto;
  }

  .header__search {
    display: none;
  }

  .header-links {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header-links__lang {
    display: none;
  }

  .header-links__user {
    display: none;
  }

  .header-cart {
    margin-right: -8px;
  }

  .header-cart_active {
    margin-right: 0px;
  }

  .header-cart-list {
    max-height: calc(100vh - 55px);
  }

  .footer {
    padding-bottom: 50px;
    padding-top: 16px;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 0 5px;
  }

  .footer__bottom {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .footer__delimiter {
    display: none;
  }

  .footer-top__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer-top__phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-left: 0px;
    padding-left: 13px;
  }

  .footer-top__phone .footer-top__label {
    display: none;
  }

  .footer-top__phone .footer-top__content {
    white-space: nowrap;
  }

  .footer-top__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }

  .footer-top__social .footer-top__label {
    display: none;
  }

  .footer-top__social .footer-top__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer-top__payment {
    margin-top: 11px;
  }

  .footer-top__payment .footer-top__content {
    margin-top: 6px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer-top__social-link {
    margin-right: 0;
  }

  .footer-top__payment-item:nth-child(1) {
    width: 28px;
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-top__payment-item:nth-child(2) {
    width: 60px;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer-top__payment-item:nth-child(3) {
    width: 60px;
    height: auto;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer-top__payment-item:nth-child(4) {
    width: 66px;
    height: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer-bottom__menu {
    width: 100%;
  }

  .footer-bottom__full-version {
    display: block;
  }

  .footer-menu__list {
    display: block;
    margin: 0 0px 15px 0px;
  }

  .footer-menu__item {
    display: block;
  }

  .footer-menu__item:last-child .footer-menu__link {
    border-bottom: 1px solid #525252;
  }

  .footer-menu__link {
    border-top: 1px solid #525252;
    display: block;
    padding: 20px;
  }

  .footer-subscribe {
    width: 100%;
  }

  .footer-subscribe__input {
    width: 100%;
  }

  .footer-subscribe__btn {
    position: static;
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .footer-copyright {
    height: 96px;
    /*padding-left: 13px;*/
  }

  .footer_product-detail .footer-top__social,
  .footer_product-detail .footer-top__payment,
  .footer_product-detail .footer__bottom,
  .footer_product-detail .footer__copyright {
    display: none;
  }
}

@media (max-width: 488px) {
  .container {
    width: 100%;
  }

  .header-wrapper .container {
    margin: 0;
    margin-left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .header-cart-list {
    width: 280px;
  }

  .header-cart-list__item {
    padding: 15px 10px;
  }

  .header-cart-list__footer {
    padding: 15px 10px;
  }

  .header-cart-item__img {
    display: none;
  }

  .header-cart-item__summary {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }

  .header-cart-item__total {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
  }

  .header-cart-item__sum {
    font-size: 15px;
  }

  .header-cart-footer__sum {
    font-size: 19px;
  }

  .footer-menu__list {
    margin: 0 -20px 15px -20px;
  }
}