$themeLight: (
  primary: (
    '0':  #FFFCFB,
    '50':  #FEF5F0,
    '100': #FCE8DE,
    '200': #FAD6C4,
    '300': #F7BFA3,
    '400': #F4A37B,
    '500': #EF824B,
    '600': #EB5C14,
    '700': #82330B,
    '800': #441B06,
    '900': #2F1204,
    '950': #160700
  ),
  secondary: (
    '0':  #FFFFFF,
    '50':  #FFFEFD,
    '100': #FDFAF6,
    '200': #fbf4ec,
    '300': #f8ecdd,
    '400': #f5e1c9,
    '500': #f0d3b2,
    '600': #ebc396,
    '700': #e5b176,
    '800': #995f1d,
    '900': #462c0d,
    '950': #2b1b08
  ),
  tertiary: (
    '0':  #fbfbfe,
    '50': #edf0f9,
    '100': #d7def2,
    '200': #b8c5e7,
    '300': #90a4da,
    '400': #607cca,
    '500': #3755a6,
    '600': #213363,
    '700': #162141,
    '800': #0F172D,
    '900': #0E1121,
    '950':  #090B16
  ),
  error: (
    '0':  #FFFFFF,
    '50':  #fefbfb,
    '100': #fdeeed,
    '200': #fad8d7,
    '300': #f5bab8,
    '400': #f09491,
    '500': #e96560,
    '600': #e12d27,
    '700': #a61b17,
    '800': #63100d,
    '900': #3a0a08,
    '950': #2d0706
  ),
  success: (
    '0':  #ffffff,
    '50':  #f9fffa,
    '100': #e9ffea,
    '200': #cdfed0,
    '300': #a6fdac,
    '400': #74fc7d,
    '500': #37fb44,
    '600': #05e414,
    '700': #03910c,
    '800': #025c08,
    '900': #013d05,
    '950': #013204
  )
);

$themeDark: (
  primary: (
    '0': #2F1204,
    '50': #441B06,
    '100': #82330B,
    '200': #EB5C14,
    '300': #EF824B,
    '400': #F4A37B,
    '500': #F7BFA3,
    '600': #FAD6C4,
    '700': #FCE8DE,
    '800':  #FEF5F0,
    '900':  #FFFCFB,
    '950': #FFFFFF
  ),
  secondary: (
    '0':  #FFFFFF,
    '50':  #FFFEFD,
    '100': #FDFAF6,
    '200': #fbf4ec,
    '300': #f8ecdd,
    '400': #f5e1c9,
    '500': #f0d3b2,
    '600': #ebc396,
    '700': #e5b176,
    '800': #995f1d,
    '900': #462c0d,
    '950': #2b1b08
  ),
  tertiary: (
    '0': #0E1121,
    '50': #0F172D,
    '100': #162141,
    '200': #213363,
    '300': #3755a6,
    '400': #607cca,
    '500': #90a4da,
    '600': #b8c5e7,
    '700': #d7def2,
    '800': #edf0f9,
    '900':  #fbfbfe,
    '950':  #FFFFFF
  ),
  error: (
    '0':  #FFFFFF,
    '50':  #fefbfb,
    '100': #fdeeed,
    '200': #fad8d7,
    '300': #f5bab8,
    '400': #f09491,
    '500': #e96560,
    '600': #e12d27,
    '700': #a61b17,
    '800': #63100d,
    '900': #3a0a08,
    '950': #2d0706
  ),
  success: (
    '0':  #ffffff,
    '50':  #f9fffa,
    '100': #e9ffea,
    '200': #cdfed0,
    '300': #a6fdac,
    '400': #74fc7d,
    '500': #37fb44,
    '600': #05e414,
    '700': #03910c,
    '800': #025c08,
    '900': #013d05,
    '950': #013204
  )
);

//Миксин для генерации CSS-переменных из вложенных SCSS map
@mixin export-theme-vars($theme-map) {
  @each $color-group, $shades in $theme-map {
    @each $shade, $value in $shades {
      --#{$color-group}-#{$shade}: #{$value};
    }
  }
}

//Применение для светлой и тёмной темы по data-атрибуту
[data-theme="light"] {
  @include export-theme-vars($themeLight);
}
[data-theme="dark"] {
  @include export-theme-vars($themeDark);
}



